In [4]:
import pandas as pd

In [5]:
core_df = pd.read_csv('https://raw.githubusercontent.com/SU-MSDS-Obesity-Class-2025/Obesity/refs/heads/main/data/who_obesity_core_data.csv')

/var/folders/c_/xvyl08rd0w152pky7b5zssvw0000gn/T/ipykernel_61628/4240382167.py:1: DtypeWarning: Columns (0,1,2,6,7,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  core_df = pd.read_csv('https://raw.githubusercontent.com/SU-MSDS-Obesity-Class-2025/Obesity/refs/heads/main/data/who_obesity_core_data.csv')

In [9]:
GDP = pd.read_csv(
    'https://raw.githubusercontent.com/SU-MSDS-Obesity-Class-2025/Obesity/refs/heads/main/data/GDP_data%20_update2.csv'
)

In [10]:
GDP = GDP[
    ['Country Code', '2012']
]

In [14]:
core_df = core_df.rename(
    columns={
        'SpatialDim': 'Country Code'
    }
)

In [15]:
GDP.head()

  Country Code          2012
0          ABW  2.615208e+09
1          AFE  9.529985e+11
2          AFG  1.990733e+10
3          AFW  7.481268e+11
4          AGO  1.280529e+11

In [16]:
core_df.head()

,Comments,DataSourceDim,DataSourceDimType,Date,Dim1,Dim1Type,Dim2,Dim2Type,Dim3,Dim3Type,...,ParentLocationCode,Country Code,SpatialDimType,TimeDim,TimeDimType,TimeDimensionBegin,TimeDimensionEnd,TimeDimensionValue,Value,source_file
0,NaN,NaN,NaN,2023-12-07T16:49:34+01:00,SEX_FMLE,SEX,NaN,NaN,NaN,NaN,...,WPR,AUS,COUNTRY,2022.0,YEAR,2021-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00,2021-2022,Data not available,Adult_curr_tob_use.csv
1,NaN,NaN,NaN,2023-12-07T16:49:02+01:00,SEX_MLE,SEX,NaN,NaN,NaN,NaN,...,WPR,SLB,COUNTRY,2015.0,YEAR,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00,2015,55,Adult_curr_tob_use.csv
2,NaN,NaN,NaN,2023-12-07T16:49:04+01:00,SEX_MLE,SEX,NaN,NaN,NaN,NaN,...,AFR,RWA,COUNTRY,2021.0,YEAR,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00,2021,10.6,Adult_curr_tob_use.csv
3,NaN,NaN,NaN,2023-12-07T16:49:03+01:00,SEX_FMLE,SEX,NaN,NaN,NaN,NaN,...,EMR,YEM,COUNTRY,2013.0,YEAR,2013-01-01T00:00:00+01:00,2013-12-31T00:00:00+01:00,2013,7.4,Adult_curr_tob_use.csv
4,NaN,NaN,NaN,2023-12-07T16:49:04+01:00,SEX_BTSX,SEX,NaN,NaN,NaN,NaN,...,EMR,QAT,COUNTRY,2013.0,YEAR,2013-01-01T00:00:00+01:00,2013-12-31T00:00:00+01:00,2013,12.5,Adult_curr_tob_use.csv

In [18]:
core_df = core_df.merge(
    GDP,
    how = 'left',
    on = 'Country Code')

In [20]:
core_df = core_df.rename(
    columns={'2012': 'GDP_2012'}
)

In [21]:
core_df.head()

,Comments,DataSourceDim,DataSourceDimType,Date,Dim1,Dim1Type,Dim2,Dim2Type,Dim3,Dim3Type,...,Country Code,SpatialDimType,TimeDim,TimeDimType,TimeDimensionBegin,TimeDimensionEnd,TimeDimensionValue,Value,source_file,GDP_2012
0,NaN,NaN,NaN,2023-12-07T16:49:34+01:00,SEX_FMLE,SEX,NaN,NaN,NaN,NaN,...,AUS,COUNTRY,2022.0,YEAR,2021-01-01T00:00:00+01:00,2022-12-31T00:00:00+01:00,2021-2022,Data not available,Adult_curr_tob_use.csv,1.547532e+12
1,NaN,NaN,NaN,2023-12-07T16:49:02+01:00,SEX_MLE,SEX,NaN,NaN,NaN,NaN,...,SLB,COUNTRY,2015.0,YEAR,2015-01-01T00:00:00+01:00,2015-12-31T00:00:00+01:00,2015,55,Adult_curr_tob_use.csv,1.185215e+09
2,NaN,NaN,NaN,2023-12-07T16:49:04+01:00,SEX_MLE,SEX,NaN,NaN,NaN,NaN,...,RWA,COUNTRY,2021.0,YEAR,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00,2021,10.6,Adult_curr_tob_use.csv,7.654761e+09
3,NaN,NaN,NaN,2023-12-07T16:49:03+01:00,SEX_FMLE,SEX,NaN,NaN,NaN,NaN,...,YEM,COUNTRY,2013.0,YEAR,2013-01-01T00:00:00+01:00,2013-12-31T00:00:00+01:00,2013,7.4,Adult_curr_tob_use.csv,3.540133e+10
4,NaN,NaN,NaN,2023-12-07T16:49:04+01:00,SEX_BTSX,SEX,NaN,NaN,NaN,NaN,...,QAT,COUNTRY,2013.0,YEAR,2013-01-01T00:00:00+01:00,2013-12-31T00:00:00+01:00,2013,12.5,Adult_curr_tob_use.csv,1.868335e+11